<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>主页</title>
	<style type="text/css">
		a{text-decoration: none;}
		#x2{color: rgb(10,255,180);}
	</style>
</head>
<body>
	<center>
		<br><br><br><br><br>
		<h1>这是一个在线相册信息管理系统</h1>
		<h1 id=x2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;----浅鱼工作室</h1>
		<br>
		<h2><a href="{% url 'pics' 1 %}">点击进入</a></h2>
	</center>
</body>
</html>